<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
   xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<!--配置自动扫描bean-->
	<context:component-scan base-package="com.gameloft9.demo">
		<context:exclude-filter type="annotation"
								expression="org.springframework.stereotype.Controller"/>
		<context:exclude-filter type="annotation"
								expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
	</context:component-scan>
	<!--properties配置相关-->
	<import resource="applicationContext-profile.xml" />
	<!--mybatis配置相关-->
	<import resource="applicationContext-datasource.xml"/>
	<!--shiro配置相关-->
	<import resource="applicationContext-security.xml"/>

</beans>

