<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true"
			   xmlns="http://ch.qos.logback/xml/ns/logback"
			   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			   xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback
			   http://ch.qos.logback/xml/ns/logback/logback.xsd">

	<property scope="context" name="AppName" value="manager" />
	<property scope="context" name="ServerName" value="manager" />

	<!-- 如果定义了运行环境（比如tomcat启动时export到环境变量run_env），则启用下面的配置 -->
	<if condition='isDefined("run_env")'>
		<then>
			<appender name="rollingFile"
					  class="ch.qos.logback.core.rolling.RollingFileAppender">
				<file>../log/${ServerName}/${AppName}.log</file>
				<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
					<fileNamePattern>../log/${ServerName}/${AppName}.log.%d{yyyy-MM-dd}</fileNamePattern>
					<maxHistory>7</maxHistory>
				</rollingPolicy>
				<encoder>
					<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%.15thread] %logger{36}:%X{sysUser} - %.-4096msg%n</pattern>
				</encoder>
			</appender>

			<root level="INFO">
				<appender-ref ref="rollingFile" />
			</root>
		</then>
		<else>
			<!--控制台打印-->
			<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
				<encoder>
					<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%.15thread] %logger{36}:%X{sysUser} - %.-4096msg%n</pattern>
				</encoder>
			</appender>

			<!--输出到文件-->
			<appender name="rollingFile"
					  class="ch.qos.logback.core.rolling.RollingFileAppender">
				<file>../log/${ServerName}/${AppName}.log</file>
				<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
					<fileNamePattern>../log/${ServerName}/${AppName}.log.%d{yyyy-MM-dd}</fileNamePattern>
					<maxHistory>7</maxHistory>
				</rollingPolicy>
				<encoder>
					<pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36}:%X{sysUser} - %msg%n</pattern>
				</encoder>
			</appender>

			<!--根loger，没有Loger则默认用此loger,打info级别用户日志-->
			<root level="INFO">
				<appender-ref ref="console" />
				<appender-ref ref="rollingFile" />
			</root>
		</else>
	</if>
</configuration>